body{
  margin:0;
  background-color: rgb(105, 183, 191, 0.3);
}
.navbar{
  overflow: hidden;
  background-color: #ffff;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #396D73;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.toplines{
  position: fixed;
margin-top: 20px;
}

.bottomlines{
  margin-top: -20px;
}

footer{
  padding-top: 20px;
  position:fixed;
  bottom:0;
  height: 10px;
  background-color: white;
  width: 100%;
}
.green{
  padding-top: 5px;
  background-color: #396D73;
}
.blue{
  padding-top: 5px;
  background-color: #69B7BF;
}
